# Build output
bin/
/intun
*.exe
*.dll
*.so
*.dylib

# macOS
.DS_Store

# Test coverage
*.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
u2d_yolo26s_v04_mobileviews_clickable.pt
pandoc-3.8.3-1-amd64.deb

